#container > div {
  width: 900px;
  margin: 10px auto;
  position: relative;
}

#gameBoard {
  border: 1px solid #666;
  margin: 90px auto;
  padding: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  width: 900px
}

/*  Putting the card fronts above the card back will hide the front of the card until class is removed */
#gameBoard .abra {
  background: url(http://cdn.bulbagarden.net/upload/6/62/063Abra.png) no-repeat;
  background-size: contain;
}

#gameBoard .bulbasaur {
  background: url(http://cdn.bulbagarden.net/upload/2/21/001Bulbasaur.png) no-repeat;
  background-size: contain;
}

#gameBoard .charmander {
  background: url(http://cdn.bulbagarden.net/upload/thumb/7/73/004Charmander.png/600px-004Charmander.png) no-repeat;
  background-size: contain;
}

#gameBoard .gyarados {
  background: url(http://cdn.bulbagarden.net/upload/4/41/130Gyarados.png) no-repeat;
  background-size: contain;
}

#gameBoard .jigglypuff {
  background: url(http://cdn.bulbagarden.net/upload/thumb/3/3e/039Jigglypuff.png/250px-039Jigglypuff.png) no-repeat;
  background-size: contain;
}

#gameBoard .mewtwo {
  background: url(http://cdn.bulbagarden.net/upload/thumb/7/78/150Mewtwo.png/250px-150Mewtwo.png) no-repeat;
  background-size: contain;
}

#gameBoard .pikachu {
  background: url(http://cdn.bulbagarden.net/upload/0/0d/025Pikachu.png) no-repeat;
  background-size: contain;
}

#gameBoard .squirtle {
  background: url(http://cdn.bulbagarden.net/upload/thumb/3/39/007Squirtle.png/250px-007Squirtle.png) no-repeat;
  background-size: contain;
}

#gameBoard .back {
  background: url('http://vignette3.wikia.nocookie.net/youtubepoop/images/4/4c/Pokeball.png/revision/latest') no-repeat;
  background-size: contain;
}

#container #gameBoard .card {  //  our base card styles class
}

.score {
  background: #666;
  border: 1px solid #f00;
  border-radius: 50px;
  color: #28f;
  height: 100px;
  width: 100px;
  position: absolute;
  right: -75px;
  top: -70px;
}

.score span {

}

.flip {
  border: 1px solid #666;
  margin: 10px;
  width: 200px;
  height: 250px;
  -webkit-perspective: 800;
  perspective: 800;
  position: relative;
  box-shadow: 2px 2px 2px 1px #666;
}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
  cursor: pointer;
}
