body, html {
  font: 10px Arial, Helvetic, sans-serif;
  margin:0;
  padding:0;
}

#container > div {
  margin: 1rem auto;
  position: relative;
  width: 90rem;
}

#gameBoard {
  border: 1px solid #666;
  margin: 9rem auto;
  padding: 1rem;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90rem;
}

.score {
  background: #28f;
  border: 5px solid #fff;
  border-radius: 55px;
  color: #fff;
  font-weight: bold;
  height: 10rem;
  width: 10rem;
  position: absolute;
  text-align: center;
  line-height: 10rem;
  right: -7.5rem;
  top: -7rem;
  z-index: 10;
}

.score span {
  font-size: 5.5em;
}

/*.score span {
  display: block;
  position: absolute;
  top: 18px;
  left: 36px;
}*/

/*  for 2 digits, if needd in future  */
/*.score span.twoDig {
  left: 22px;
}*/

.flip {
  border: 1px solid #666;
  margin: 1rem;
  width: 20rem;
  height: 25rem;
  perspective: 800;
  -webkit-perspective: 800;
  position: relative;
  box-shadow: 2px 2px 2px 1px #666;
}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
}

.flip .card .front {
  position: absolute;
  z-index: 1;
}

.flip .card .back {
  -webkit-transform: rotatex(-180deg);
  cursor: pointer;
}

.flip .card .back {
  background: url('http://vignette3.wikia.nocookie.net/youtubepoop/images/4/4c/Pokeball.png/revision/latest') no-repeat;
  background-size: contain;
}

/*  Putting the card fronts above the card back will hide the front of the card until class is removed */
.flip .abra {
  background: url(http://cdn.bulbagarden.net/upload/6/62/063Abra.png) no-repeat;
  background-size: contain;
}

.flip .bulbasaur {
  background: url(http://cdn.bulbagarden.net/upload/2/21/001Bulbasaur.png) no-repeat;
  background-size: contain;
}

.flip .charmander {
  background: url(http://cdn.bulbagarden.net/upload/thumb/7/73/004Charmander.png/600px-004Charmander.png) no-repeat;
  background-size: contain;
}

.flip .gyarados {
  background: url(http://cdn.bulbagarden.net/upload/4/41/130Gyarados.png) no-repeat;
  background-size: contain;
}

.flip .jigglypuff {
  background: url(http://cdn.bulbagarden.net/upload/thumb/3/3e/039Jigglypuff.png/250px-039Jigglypuff.png) no-repeat;
  background-size: contain;
}

.flip .mewtwo {
  background: url(http://cdn.bulbagarden.net/upload/thumb/7/78/150Mewtwo.png/250px-150Mewtwo.png) no-repeat;
  background-size: contain;
}

.flip .pikachu {
  background: url(http://cdn.bulbagarden.net/upload/0/0d/025Pikachu.png) no-repeat;
  background-size: contain;
}

.flip .squirtle {
  background: url(http://cdn.bulbagarden.net/upload/thumb/3/39/007Squirtle.png/250px-007Squirtle.png) no-repeat;
  background-size: contain;
}
